body {
    color: rgb(243, 243, 243);
    background-color:rgb(40, 114, 123);
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    font-family: sans-serif;
    margin: 0;
}
nav {
    width: 220px;
    background-color: #102b30;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(243, 243, 243);;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #585858;
}

nav ul li a.active {
    background-color: rgb(40, 114, 123);
}
#content {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    padding: 20px;
    margin-left: 220px;
}
#drop-area {
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}
#drop-area.highlight {
    border-color: darkgreen;
}

#predictions {
    border-collapse: collapse;
    width: 100%;
}

#predictions th, #predictions td {
    padding: 2px;
    text-align: left;
    border: 1px solid rgb(243, 243, 243);
}
